<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Am I HTML already?</title>
</head>
<body>
Yes,<br>I am!
</body>
</html>


<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
</head>
<body>
    <h1>User Registration</h1>
    <form method="post" action="/register">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <input type="submit" value="Register">
    </form>
	<br>
	<h1>User Login</h1>
    <form method="post" action="/register">
        <label for="username_login">Username:</label>
        <input type="text" id="username_login" name="username_login" required>
        <br>
        <label for="password_login">Password:</label>
        <input type="password" id="password_login" name="password_login" required>
        <br>
        <input type="submit" value="Login">
    </form>
</body>
</html>
